@font-face {
    font-family: mtavruli;
    src: url("../fonts/bpg_nino_mtavruli_bold.ttf");
}


.firstCss{
    font-size:25px;
    font-family:mtavruli;
    color:rgb(0, 255, 98);
    /* 
    width:400px;
    height:200px;
    */
    line-height:1;


    width:300px;
    height:50px;
    background-color:grey;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow:hidden;
    letter-spacing:2px;
    
    /* text-decoration:underline; */


}

.secondCss{
    font-size:30px;
    text-transform: lowercase;
}


a {
    text-decoration:none;
    color:green;
   
}


.text{
    width:400px;
    height:400px;
    background-color: red;
    text-align:center;

}
.centerContent{
    width:800px;
    height:800px;
    background-color:rgba(0, 0, 0, 0.61);
    text-align:center;
}

header{
    height:400px;
    width:100%;
    background-color:rgba(0, 0, 0, 0.171);
    background-image: url('https://www.iucn.org/sites/dev/files/content/images/2020/shutterstock_1458128810.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: 58% 81%;
    text-align:center;
    color:white;
    font-size:25px;
    text-shadow:3px 3px 10px black;
    background-attachment: fixed;
}

body{
    height:2000px;
    background-image: url('https://www.iucn.org/sites/dev/files/content/images/2020/shutterstock_1458128810.jpg');

}


.h1text{
    color:white;
}